* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/houndstooth-pattern.png");
    background-repeat: repeat;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height:28px;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

#masthead {
    height: 100px;
    background-color: #ffffff;
    border-bottom: solid 2px #cccccc;
    margin: 0 0 30px;
    z-index: 99;
    overflow: auto;
    /* position: fixed; */
    width: 100%;
}
.headercontainer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.myname {
    width: 250px;
    height: 98px;
    line-height: 90px;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    font-size: 30px;
    text-decoration: none;
}

.divheading {
    width: 98%;
    height: 90px;
    line-height: 90px;
    text-align: left;
    color: #4aaaa5;
    font-size: 30px;
    border-bottom: 1px solid #777777;
    margin-bottom:6px;
}

nav {
    float:right;
    margin-top: 25px;
}

.navbar {
    border-left: solid 1px #efefef;
    color: #777777;
    margin-left: 15px;
    padding-left: 15px;
    line-height: 18px;
    text-decoration: none;
    font-size: 24px;
}

.navbar:first-child {
    border-left: 0 none;
}

.content-area {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 100px;
}

.profpic {
    float:left;
    margin-right: 5px;
}


footer {
    padding: 20px;
    height: 100px;
    text-align: center;
    color: #ffffff;
    background-color: #666666;
    border-top: solid 5px #4aaaa5;
}